/*resest*/
*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}
html, body {
    height: 100%;
    background-image: url(fondo.jpg)
}

header, main, footer {
    
    font-family: 'Pacifico', cursive;
    font-family: 'Sigmar', cursive;
    font-weight: 400; 
}

header{
    font-size: 30px;
    text-align: center; 
}

main{
    font-size: 30px;
    text-align: center; 
    background-image: url(fondo2.jpg)
}

footer{
    font-size: 80px;
    text-align: center; 
    font-family: 'Pacifico', cursive;
    font-family: 'Sigmar', cursive;
}